 
Racing.xcodeproj/xcuserdata/mariaderkach.xcuserdatad/xcschemes/xcschememanagement.plist
Racing.xcodeproj/project.xcworkspace/xcuserdata/mariaderkach.xcuserdatad/UserInterfaceState.xcuserstate
Racing.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Racing.xcodeproj/project.xcworkspace/contents.xcworkspacedata
